@font-face {
    font-family: 'Canis Minor';
    src: url('CanisMinor-Regular.eot');
    src: local('CanisMinor-Regular'),
        url('CanisMinor-Regular.eot?#iefix') format('embedded-opentype'),
        url('CanisMinor-Regular.woff2') format('woff2'),
        url('CanisMinor-Regular.woff') format('woff'),
        url('CanisMinor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

